.itemcontainer{
 /*   display: grid;
justify-content: left;
width: 40%;*/
margin-left: 35%;
text-align: left;
margin-top: 4px;
margin-bottom: 4px;
font-size: 20px;

}

input[type="checkbox"] {
    /*display: none;*/
    width: 30px; 
    height: 30px;
    border: black;
    margin-left: 0%;

  }

  .delete{
    background-color: rgb(255, 70, 70);
    color: white;
    border: 2px solid rgb(255, 70, 70);;
    border-radius: 0%;
    width: 23%;
    height: 35px;
    margin: 10px;
  }

  .edit{
    background-color: white;
    border-radius: 0%;
    border: 2px solid black;
    width: 23%;
    height: 35px;
    margin: 10px;
    margin-left: 0%;
  }

  .contbutton{
    display: flex;
    flex-direction: row;

  }